#speaker_form{ :style => 'display:none;' }
  = render 'admin/speakers/form', :speaker => Speaker.new
#event_form{ :style => 'display:none;' }
  = render 'admin/events/form', :event => Event.new

#new_speaker{ :style => { :display => 'none' } }
#new_event{ :style => { :display => 'none' } }
