%h2 New Presentation

= form_for [:admin, @presentation] do |f|
  = render 'form', :f => f,
    :presentation => @presentation, 
    :speakers     => @speakers, 
    :events       => @events
#new_speaker{ :style => { :display => 'none' } }
#new_event{ :style => { :display => 'none' } }
