= render 'form', :presentation => @presentation, 
  :speakers     => @speakers, 
  :events       => @events
#new_speaker{ :style => { :display => 'none' } }
#new_event{ :style => { :display => 'none' } }
