.DS\_Store
.DS_Store
db/*.sqlite3
log/**/*
log/*.log
coverage/*
public/system/*
public/stylesheets/*.css
.idea/*
tmp/*
tmp/**/*
tmp/metric_fu/*
tmp/sent_mails/*
tmp/restart.txt
config/database.yml
*.swp
*.swo
.bundle
logfile
.yardoc/*
.sass-cache
config/app_config.yml
