- title "Search results for #{@search_value}:"

%fieldset
  %legend Search results for #{@search_value}:

  - if @presentations.present?
    #presentations
      = render :partial => 'presentations/presentation', :collection => @presentations

  - if @speakers.present?
    #speakers
      = render :partial => 'speakers/speaker', :collection => @speakers
