#search_results
  %h1= "Search results for #{@search_value}:"


  #presentations
    = render :partial => 'presentations/presentation', :collection => @presentations

  #speakers
    = render :partial => 'speakers/speaker', :collection => @speakers
