/* pagination */
.pagination {
  background:#EEE;
  border:1px solid rgba(227, 227, 227, 1);
  clear:both;
  font-size:1.2em;
  padding:1em;

  a, 
  em,
  .previous_page,
  .next_page {
    background:white;
    border:1px solid rgba(227, 227, 227, 1);
    color:black;
    padding:4px 7px;
    text-decoration:none;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  a:hover,
  em { 
    background:#bae0ff;
    border:solid 1px #a9cbe7;
  }

  .disabled { background:#EEE; }
}
