@import "reset.scss";
@import "application.scss";

h2 {
  background:#222;
  color:#FFF;
  font-size:15px;
  margin:10px 0;
  padding:5px;
  a {
    color:red;
    display:inline-block;
    float:right;
    padding:0 5px;
    text-decoration:none;
    &:hover {
      background:red;
      color:#FFF;
    }
  }
}

table {
  font-size:12px;
  width:100%;
  thead {
    tr th {
      font-weight:bold;
    }
  }
  tbody {
    tr {
      &:hover .actions{
        display:block;
      }
      td {
        border-bottom:1px solid #EEE;
        padding:4px;
      }
    }
  }
  .more_info {
    display:none;
  }
}

ul.actions {
  background:#FFF;
  @include border_radius(15px);
  display:none;
  margin:-13px 0 0 -40px;
  padding:4px 0 4px 5px;
  position:absolute;
  li {
    float:left;
    margin:0 5px 0 0;
    a {
      display:inline-block;
      height:15px;
      text-indent:-9999px;
      width:15px;
      &.edit {
        background:transparent url("/images/icons/edit.gif") 0 0 no-repeat;
      }
      &.delete {
        background:transparent url("/images/icons/delete.gif") 0 0 no-repeat;
      }
      &:hover {
        background-position:0 -19px;
      }
    }
  }
}

fieldset {
  margin:10px;
  ul {
    li {
      background:#EEE;
      border-left:5px solid #CCC;
      margin:4px 0;
      padding:4px;
      label {
        display:inline-block;
        font-size:14px;
        font-weight:bold;
        width:120px;
        &.textarea {
          vertical-align:top;
        }
      }
      input[type="text"] {
        border:1px solid #999;
        font-size:14px;
        padding:4px;
      }
    }
  }
}
