@import "reset.scss";
@import "pagination";
@import "pictos.scss";

$container_width: 960px;
$presentation_width: 600px;
$avatar_width: 73px;
$avatar_height: 73px;

@mixin rounded_corner($side, $radius: 10px) {
  -webkit-border-radius-#{$side}: $radius;
  -moz-border-radius-#{$side}: $radius;
  -o-border-radius-#{$side}: $radius;
  border-radius-#{$side}: $radius;
}

@mixin border_radius($radius: 10px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin box_shadow($hor: 0px, $vert: 0px, $blur: 10px, $spread: 5px, $color: #b8b8b8) {
  -webkit-box-shadow: $hor $vert $blur $spread $color;
  -moz-box-shadow: $hor $vert $blur $spread $color;
  box-shadow: $hor $vert $blur $spread $color;
}

body {
  background: url(/images/bg.gif) #EEE;
  font: normal 62.5%/1.5 Arial, Helvetica, sans-serif;
  padding: 0 100px;
}

span#location {
  background:#444;
  @include border_radius(2px);
  float:right;
  font-weight:100;
  letter-spacing:1px;
  padding:0 5px;
}

#flash_messages {
  .message {
    color:#222;
    font-size:14px;
    margin:10px 0;
    padding:5px;
  }

  .notice {
    background:#CFFFCA;
    border:2px solid #6B9957;
  }

  .alert {
    background:#FFDEE4;
    border:2px solid #B82929;
  }
}

#container {
  @include box_shadow;
  border: {
    bottom:1px solid #adadad;
    left:1px solid #adadad;
    right:1px solid #adadad;
  }
  margin:0 auto;
  width: $container_width;
}

header {
  background:#CCC;
  border-bottom:1px solid #a8a8a8;
  padding:10px;
  h1 {
    font: {
      family: "museo-slab-1", "museo-slab-2", serif;
      size: 75px;
      weight: 900;
    }
    text: {
      align: center;
      shadow: 2px 2px 5px rgba(55, 70, 131, 1);
    }

    a, a:hover, a:link, a:visited {
      border-bottom: 0;
      color: #ebebeb;
      text-decoration: none;  
    }
  }
  h2 {
    color: rgba(0, 0, 0, 0.6);
    position: relative;
    text: {
      align: center;
      shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
    }
    top: -1em;
  }
}

nav {
  background:#eee;
  border-top:1px solid #f8f8f8;
  margin:0;
  overflow:hidden;
  padding:10px 0 0;
  position:relative;
  z-index:100;
  li {
    bottom:-1px;
    float:left;
    position:relative;
    a {
      color:#333;
      display:block;
      font-size:14px;
      padding:5px 10px;
      text-decoration:none;
      &.active,
      &.active:hover {
        background:#FFF;
        border-top:1px solid #CCC;
        color:#222;
        font-weight:bold;
      }
      &:hover {
        background:#333;
        color:#FFF;
      }
    }
    &#search {
      float:right;
      padding:5px;
      input[type='text'] {
      }
      input[type='submit'] {

      }
    }
  }
}

#content {
  background:#FFF;
  @include border_radius(3px);
  border: {
    bottom:1px solid #a8a8a8;
    top:1px solid #a8a8a8;
  }
  overflow:hidden;
  padding:10px;

}

h1 {
  font: {
    size: 2em;
    weight: bold;
    family: "museo-slab-1","museo-slab-2",serif;
  }
}

h2 {
  font: {
    size: 1.5em;
    weight: bold;
    family: "museo-slab-1","museo-slab-2",serif;
  }
}

h3 {
  border-bottom:1px solid #EEE;
  font: {
    size: 1.2em;
    weight:200;
  }
  margin:10px;
}

a {
  outline: none;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid black;
  }

  &:link, &:visited {
    color: black;
  }
}


article.presentation {
  border-bottom:1px solid #EEE;
  font-size:1.2em;
  margin:0 0 20px;
  overflow:hidden;
  width:$presentation_width;

  p { 
    padding:0 10px 0 0;
    width:380px;
  }

  h2 {
    background:#EEE;
    border:1px solid rgba(227, 227, 227, 1);
    clear:both;
    margin:0 0 .5em 0;
    padding: 4px 2px 2px 10px;
    text-shadow:0px 1px 0px #a9cbe7;
    a {
      color:#222;
      text-decoration:none; 
      
      &:hover {
        border-bottom: 0;
      }
    }
  }
  
  .info {
    float:left;
  }
  
  .description {
    font-size:12px;
  }

  a.image_link {
    display: block;
    float: right;

    &:hover {
      border: 0px;
    }
  }

  img.thumb {
    border: 1px solid #eee;
    @include box_shadow(0, 0, 0, 1px, 1px);
    max-width: 200px;
    min-width: 150px;
    padding:3px;
  }

  a img.thumb {
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  a:hover img.thumb {
    background: rgba(186, 224, 255, 1); 
    border: 1px solid #a9cbe7;
  }

  .video, .slideshow {
    border:1px solid #eee;
    clear:both;
    margin: {
      left:auto;
      right:auto;
    }
    padding:3px;
  }
}

.tags {
  clear:both;
  float:left;
  padding:1em 0;
  text-align:left;
  width:100%;

  a {
    background-color: #eee;
    color: black;
    display: inline;
    border: 1px solid rgba(227, 227, 227, 1);
    @include border_radius(5px);
    padding: 2px 7px;
    text-decoration: none;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover { 
      background: rgba(186, 224, 255, 1); 
      border: 1px solid #a9cbe7;
    }
  }
}

/*Move into new area*/

article {
  float:left;
  width:500px;
}

aside > dl {
  margin-top: .6em;
}

aside {
  float: right;
  font: {
    family: Arial,serif;
    size: 1.2em;
  }
  margin-left: 20px;
  width: $container_width - $presentation_width - 40;

  dl {
    dt {
      border-bottom: 1px solid #EEE;
      font: {
        size: 1.2em;
        weight: 200;
      }
      padding-bottom: 5px;
    }

    dd {
      padding: {
        left: 10px;
        top: 10px;
        bottom: 10px;
      }

      a {
        color: #000000;
        text: {
          shadow: 0 0px 0 #A9CBE7;
          decoration: none;
        }
      }
    }
  }
}

#speakers {
  margin:10px;
  li.speaker {
    border-bottom:1px solid #EEE;
    margin:0 0 20px;
    overflow:hidden;
    width:600px;
    ul {
      font-size:12px;
      float:right;
      text-align:right;
      width:150px;
    }
    h2 {
      background:#EEE;
      clear:both;
      padding:2px;
      a {
        color:#222;
        text-decoration:none; 
      }
    }
    .description {
      font-size:12px;
      float:left;
      width:425px;
    }
  }
}

.avatar {
  border:1px solid #eee;
  height: $avatar_height;
  padding:3px;
  width: $avatar_width;
}
  

aside#speaker {
  h2 {
    border-bottom: 1px solid black;
    margin-bottom:8px;
    padding: 2px;
    text-shadow:0px 1px 0px #eee;
  }

  .links {
    clear:both;
    font-size:12px;
  }
}

footer {
  background:#eee;
  border-top:1px solid #f8f8f8;
  clear:both;
  padding:5px;
  min-height:3em;
}

.preloader {
  background: url(/images/spinner.gif) center center no-repeat #ffffff;
  display: inline-block;
}
