@import "reset";

body {
  background:#EEE;
  font:normal 62.5%/1.5 "Helvetica Neue", Helvetica, sans-serif;
  padding:0 100px;
}

h2#speaker_title {
  background:#222;
  color:#FFF;
  font-size:15px;
  font-weight:bold;
  margin:10px 0;
  padding:5px;
  span {
    font-weight:200;
    margin:0 5px;
  }
  span#location {
    background:#444;
    border-radius:2px;
    -moz-border-radius:2px;
    float:right;
    font-weight:100;
    letter-spacing:1px;
    padding:0 5px;
  }
}

h3 {
  border-bottom:1px solid #EEE;
  font-size:18px;
  font-weight:200;
  margin:10px;
}

#flash_messages {
  .message {
    color:#222;
    font-size:14px;
    margin:10px 0;
    padding:5px;
  }
  .notice {
    background:#CFFFCA;
    border:2px solid #6B9957;
  }
  .alert {
    background:#FFDEE4;
    border:2px solid #B82929;
  }
}

#container {
  margin:0 auto;
  width:960px;
}

header {
  background:#CCC;
  padding:10px;
  h1 {
    font-size:18px;
    font-weight:bold;
    a {
      color:#222;
      text-decoration:none;
    }
  }
}

nav {
  margin:10px 0 0;
  overflow:hidden;
  li {
    float:left;
    a {
      color:#333;
      display:block;
      font-size:14px;
      padding:5px 10px;
      text-decoration:none;
      &.active,
      &.active:hover {
        background:#FFF;
        border-top:1px solid #CCC;
        color:#222;
        font-weight:bold;
      }
      &:hover {
        background:#333;
        color:#FFF;
      }
    }
    &#search {
      float:right;

      padding:2px 5px;
      input[type='text'] {
        background:#EEEEEE;
        border:1px solid #CCC;
        -webkit-box-shadow: 0 1px 0 #FFF;
        -moz-box-shadow: 0 1px 0 #FFF;
        box-shadow: 0 1px 0 #FFF;
        float:left;
        padding:4px;
        width:200px;
      }
      input[type='submit'] {
        background:#EEE;
        border:solid #CCC;
        border-width:1px 1px 1px 0;
        -moz-border-radius-topright: 2px;
        -webkit-border-top-right-radius: 2px;
        -moz-border-radius-bottomright: 2px;
        -webkit-border-bottom-right-radius: 2px;
        -webkit-box-shadow: 0 1px 0 #FFF;
        -moz-box-shadow: 0 1px 0 #FFF;
        box-shadow: 0 1px 0 #FFF;
        cursor:pointer;
        font-weight:bold;
        float:left;
        margin:2px 0 0;
        padding:4px 6px;
      }
    }
  }
}
#content {
  background:#FFF;
  border-radius:3px;
  -moz-border-radius:3px;
  overflow:hidden;
}

#presentations {
  margin:10px;
  article.presentation {
    border-bottom:1px solid #EEE;
    margin:0 0 20px;
    overflow:hidden;
    width:600px;
    ul {
      font-size:12px;
      float:right;
      text-align:right;
      width:150px;
      &.tags {
        clear:both;
        float:left;
        padding:1em 0;
        text-align:left;
        width:100%;
        .tag {
          background-color:#EEE;
          display:inline;
          border:1px solid #E3E3E3;
          border-radius:20px;
          -moz-border-radius:20px;
          padding:2px 7px;
        }
      }

    }


    h2 {
      background:#EEE;
      border:1px solid #E3E3E3;
      clear:both;
      font-size:16px;
      font-weight:bold;
      font-family:"museo-slab-1","museo-slab-2",serif;
      margin:0 0 .5em 0;
      padding:2px 2px 2px .5em;
      a {
        color:#222;
        text-decoration:none; 
      }
    }
    .description {
      font-size:12px;
      float:left;
      width:425px;
    }
  }
}

#speakers {
  margin:10px;
  li.speaker {
    border-bottom:1px solid #EEE;
    margin:0 0 20px;
    overflow:hidden;
    width:600px;
    ul {
      font-size:12px;
      float:right;
      text-align:right;
      width:150px;
    }
    h2 {
      background:#EEE;
      clear:both;
      font-size:16px;
      font-weight:bold;
      padding:2px;
      a {
        color:#222;
        text-decoration:none; 
      }
    }
    .description {
      font-size:12px;
      float:left;
      width:425px;
    }
  }
}

#speaker_info {
  margin:10px;
  overflow:hidden;
  #avatar {
    float:left;
  }
  #bio {
    float:left;
    font-size:14px;
  }
  #links {
    border-top:1px solid #EEE;
    clear:both;
    font-size:12px;
  }
}

/* pagination */
.pagination {
  background:#EEE;
  border:1px solid #E3E3E3;
  font-size:1.2em;
  margin:1em;
  padding:1em;

  a, 
  em,
  .previous_page,
  .next_page {
    background:white;
    border:1px solid #E3E3E3;
    color:black;
    padding:4px 7px;
    text-decoration:none;
  }

  a:hover,
  em { 
    background:#bae0ff;
    border:solid 1px #a9cbe7;
  }

  .disabled { background:#EEE; }
}
