@import "reset";

body {
  background:#EEE;
  font:normal 62.5%/1.5 "Helvetica Neue", Helvetica, sans-serif;
  padding:0 100px;
}

#flash_messages {
  .message {
    color:#222;
    font-size:14px;
    margin:10px 0;
    padding:5px;
  }
  .notice {
    background:#CFFFCA;
    border:2px solid #6B9957;
  }
}

#container {
  margin:0 auto;
  width:960px;
}

header {
  background:#CCC;
  padding:10px;
  h1 {
    font-size:18px;
    font-weight:bold;
    a {
      color:#222;
      text-decoration:none;
    }
  }
}

nav {
  margin:10px 0 0;
  overflow:hidden;
  li {
    float:left;
    a {
      color:#333;
      display:block;
      font-size:14px;
      padding:5px 10px;
      text-decoration:none;
      &.active,
      &.active:hover {
        background:#FFF;
        border-top:1px solid #CCC;
        color:#222;
        font-weight:bold;
      }
      &:hover {
        background:#333;
        color:#FFF;
      }
    }
    &#search {
      float:right;
    }
  }
}

#content {
  background:#FFF;
  border-radius:3px;
  -moz-border-radius:3px;
  overflow:hidden;
}

#presentations {
  margin:10px;
  li.presentation {
    border-bottom:1px solid #EEE;
    margin:0 0 20px;
    overflow:hidden;
    width:600px;
    ul {
      font-size:12px;
      float:right;
      text-align:right;
      width:150px;
    }
    h2 {
      background:#EEE;
      clear:both;
      font-size:16px;
      font-weight:bold;
      padding:2px;
      a {
        color:#222;
        text-decoration:none; 
      }
    }
    .description {
      font-size:12px;
      float:left;
      width:425px;
    }
  }
}

#speakers {
  margin:10px;
  li.speaker {
    border-bottom:1px solid #EEE;
    margin:0 0 20px;
    overflow:hidden;
    width:600px;
    ul {
      font-size:12px;
      float:right;
      text-align:right;
      width:150px;
    }
    h2 {
      background:#EEE;
      clear:both;
      font-size:16px;
      font-weight:bold;
      padding:2px;
      a {
        color:#222;
        text-decoration:none; 
      }
    }
    .description {
      font-size:12px;
      float:left;
      width:425px;
    }
  }
}