%li.speaker
  .name= link_to speaker.name, speaker
  - if speaker.title
    .title= speaker.title
  - if speaker.company_name
    .company= speaker.company_name
  - if speaker.location
    .location= speaker.location
